<div class="princips">
	<div class="container">
		<h2 class="about__title">принципы <span>нашей работы</span></h2>
		<div class="princips__block row">
			<div class="princips__flex col-lg-10 row">
				<div class="princips__item col-lg-2">
					<div class="princips__item-name">Внимательность к симптоматике</div>
					<div class="princips__item-element">1</div>
				</div>
				<div class="princips__item col-lg-2">
					<div class="princips__item-name">Правильный подбор товаров</div>
					<div class="princips__item-element">2</div>
				</div>
				<div class="princips__item col-lg-2">
					<div class="princips__item-name">Высокое качество товаров</div>
					<div class="princips__item-element princips__item-element--third">3</div>
				</div>
				<div class="princips__item col-lg-3">
					<div class="princips__item-name">Комфорт при использований изделий</div>
					<div class="princips__item-element princips__item-element--last">4</div>
				</div>
			</div>
		</div>
	</div>
</div>