<div class="reviews">
	<div class="container">
		<h2 class="reviews__title">Отзывы  <span>наших клиентов</span></h2>
		<div class="g-tabs row _tabs-container">
			<ul class="g-tabs__menu col-lg-3">
				<li class="g-tabs__item _tab active" onclick="pegas.reviews.open(this, 1)">
					<a class="g-tabs__link" href="javascript:void(0);">Active</a>
				</li>
				<li class="g-tabs__item _tab" onclick="pegas.reviews.open(this, 2)">
					<a class="g-tabs__link" href="javascript:void(0);">Inactive</a>
				</li>
				<li class="g-tabs__item _tab" onclick="pegas.reviews.open(this, 3)">
					<a class="g-tabs__link" href="javascript:void(0);">Inactive</a>
				</li>
			</ul>
			<div class="g-tabs__content col-lg-9 open" data-tab="1">
				<div class="reviews__video owl-carousel">
					<div class="reviews__video-block">
						<div class="reviews__video-block-logo">
							{% include 'assets/img/logo.svg' %}
						</div>
						<div class="reviews__video-img">
							<img src="img/man.jpg" alt="">
							<div class="reviews__video-btn" data-index="0" onclick="pegas.reviews.show('popup-video',this)">
								{% include 'assets/img/play.svg' %}
							</div>
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__video-block">
						<div class="reviews__video-block-logo">
							{% include 'assets/img/logo.svg' %}
						</div>
						<div class="reviews__video-img">
							<img src="img/man.jpg" alt="">
							<div class="reviews__video-btn" data-index="1" onclick="pegas.reviews.show('popup-video',this)">
								{% include 'assets/img/play.svg' %}
							</div>
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__video-block">
						<div class="reviews__video-block-logo">
							{% include 'assets/img/logo.svg' %}
						</div>
						<div class="reviews__video-img">
							<img src="img/man.jpg" alt="">
							<div class="reviews__video-btn" data-index="2" onclick="pegas.reviews.show('popup-video',this)">
								{% include 'assets/img/play.svg' %}
							</div>
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__video-block">
						<div class="reviews__video-block-logo">
							{% include 'assets/img/logo.svg' %}
						</div>
						<div class="reviews__video-img">
							<img src="img/man.jpg" alt="">
							<div class="reviews__video-btn" data-index="3" onclick="pegas.reviews.show('popup-video',this)">
								{% include 'assets/img/play.svg' %}
							</div>
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__video-block">
						<div class="reviews__video-block-logo">
							{% include 'assets/img/logo.svg' %}
						</div>
						<div class="reviews__video-img">
							<img src="img/man.jpg" alt="">
							<div class="reviews__video-btn" data-index="4" onclick="pegas.reviews.show('popup-video',this)">
								{% include 'assets/img/play.svg' %}
							</div>
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__video-block">
						<div class="reviews__video-block-logo">
							{% include 'assets/img/logo.svg' %}
						</div>
						<div class="reviews__video-img">
							<img src="img/man.jpg" alt="">
							<div class="reviews__video-btn" data-index="5" onclick="pegas.reviews.show('popup-video',this)">
								{% include 'assets/img/play.svg' %}
							</div>
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__video-block">
						<div class="reviews__video-block-logo">
							{% include 'assets/img/logo.svg' %}
						</div>
						<div class="reviews__video-img">
							<img src="img/man.jpg" alt="">
							<div class="reviews__video-btn" data-index="6" onclick="pegas.reviews.show('popup-video',this)">
								{% include 'assets/img/play.svg' %}
							</div>
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
				</div>
			</div>
			<div class="g-tabs__content col-lg-9" data-tab="2">
				<div class="reviews__audio owl-carousel">
					<div class="reviews__audio-block">
						<div class="reviews__audio-img">
							{% include 'assets/img/logo.svg' %}
							{% include 'assets/img/audio.svg' %}
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__audio-block">
						<div class="reviews__audio-img">
							{% include 'assets/img/logo.svg' %}
							{% include 'assets/img/audio.svg' %}
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__audio-block">
						<div class="reviews__audio-img">
							{% include 'assets/img/logo.svg' %}
							{% include 'assets/img/audio.svg' %}
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__audio-block">
						<div class="reviews__audio-img">
							{% include 'assets/img/logo.svg' %}
							{% include 'assets/img/audio.svg' %}
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
					<div class="reviews__audio-block">
						<div class="reviews__audio-img">
							{% include 'assets/img/logo.svg' %}
							{% include 'assets/img/audio.svg' %}
						</div>
						<span class="reviews__name">Сергей Николенко</span>
					</div>
				</div>
			</div>
			<div class="g-tabs__content col-lg-9" data-tab="3">
				<div class="reviews__clients owl-carousel">
					<div class="reviews__clients-block reviews__clients-block--inst">
						<div class="reviews__clients-head">
							<img class="reviews__clients-logo-prev" src="img/logo-prev.png" alt="">
							<div class="reviews__clients-head-name">
								<div class="reviews__clients-head-logo">
									{% include 'assets/img/instagramm.svg' %}
									<span class="reviews__clients-head-title">Instagram</span>
								</div>
								<span class="reviews__clients-head-log">irinanovikova1670</span>
							</div>
						</div>
						<div class="reviews__clients-article">
							Великолепный корсет. Пользуюсь таким же. После травмы позвоночника. Всем рекомендую. И не только для печальных историй. Но и для поддержки спины
						</div>
						<a href="#" class="reviews__clients-link">https://www.instagram.com/p/CTa-6PhKt_d/?utm_source=ig_web_copy_link</a>
					</div>
					<div class="reviews__clients-block reviews__clients-block--whats">
						<div class="reviews__clients-head">
							<img class="reviews__clients-logo-prev" src="img/logo-prev.png" alt="">
							<div class="reviews__clients-head-name">
								<div class="reviews__clients-head-logo">
									{% include 'assets/img/instagramm.svg' %}
									<span class="reviews__clients-head-title">WhatsApp</span>
								</div>
								<span class="reviews__clients-head-log">Лиза Кудрявцева</span>
							</div>
						</div>
						<div class="reviews__clients-article">
							Спасибо салону “Пегас”, выручили меня в трудный момент выбора - идти на операцию или справиться с помощью корсета. Профессионалы!
						</div>
						<a href="#" class="reviews__clients-link">Отправлено в WhatsApp</a>
					</div>
					<div class="reviews__clients-block reviews__clients-block--whats">
						<div class="reviews__clients-head">
							<img class="reviews__clients-logo-prev" src="img/logo-prev.png" alt="">
							<div class="reviews__clients-head-name">
								<div class="reviews__clients-head-logo">
									{% include 'assets/img/instagramm.svg' %}
									<span class="reviews__clients-head-title">WhatsApp</span>
								</div>
								<span class="reviews__clients-head-log">Лиза Кудрявцева</span>
							</div>
						</div>
						<div class="reviews__clients-article">
							Спасибо салону “Пегас”, выручили меня в трудный момент выбора - идти на операцию или справиться с помощью корсета. Профессионалы!
						</div>
						<a href="#" class="reviews__clients-link">Отправлено в WhatsApp</a>
					</div>
					<div class="reviews__clients-block reviews__clients-block--inst">
						<div class="reviews__clients-head">
							<img class="reviews__clients-logo-prev" src="img/logo-prev.png" alt="">
							<div class="reviews__clients-head-name">
								<div class="reviews__clients-head-logo">
									{% include 'assets/img/instagramm.svg' %}
									<span class="reviews__clients-head-title">Instagram</span>
								</div>
								<span class="reviews__clients-head-log">irinanovikova1670</span>
							</div>
						</div>
						<div class="reviews__clients-article">
							Великолепный корсет. Пользуюсь таким же. После травмы позвоночника. Всем рекомендую. И не только для печальных историй. Но и для поддержки спины
						</div>
						<a href="#" class="reviews__clients-link">https://www.instagram.com/p/CTa-6PhKt_d/?utm_source=ig_web_copy_link</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>