<div class="catalog-banner-item col-xl-4 col-md-6">
	<div class="catalog-banner-item__content">
		<img src="img/catalog-banner-leg.png" alt="">
		<div class="catalog-banner-item__text">
			<span>ортопедическая обувь</span>
		</div>
	</div>
</div>