<div class="about-work">
	<h2 class="about__title">ГЛАВНОЕ <span>О НАШЕЙ РАБОТЕ</span></h2>
	<p class="about-work__descr">Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Alias sapiente, saepe quo molestiae harum officiis fugiat at in veniam distinctio sit neque voluptate earum temporibus, dolore doloribus accusamus rem labore!</p>
</div>