<div class="head-content">
	<div class="container">
		<div class="head-content__row row">
			<div class="head-content__links col-lg-3 col-md-5 col-sm-5">
				<a href="#">{% include 'assets/img/inst.svg' %}</a>
				<a href="#">{% include 'assets/img/odnok.svg' %}</a>
				<a href="#">{% include 'assets/img/inst.svg' %}</a>
			</div>
			<div class="head-content__content col-lg-7">
				<a href="#" class="head-content__content-link active">Компрессионный  трикотаж</a>
				<a href="#" class="head-content__content-link">ортопедические изделия</a>
				<a href="#" class="head-content__content-link">костыли, трости, ходунки</a>
				<a href="#" class="head-content__content-link">ортопедическая обувь</a>
				<a href="#" class="head-content__content-link">массажные изделия, мячи</a>
				<a href="#" class="head-content__content-link">товары после мастэктомии</a>
				<a href="#" class="head-content__content-link">тейпы, бинты, лонгеты</a>
			</div>
		</div>
	</div>
</div>